spring:
  datasource:
    url: ${PG_URL}
    username: ${PG_USER}
    password: ${PG_PASS}
  jpa:
    hibernate:
      ddl-auto: update

server:
  port: 8080
  ssl:
    enabled: true
    key-store: classpath:ssl/hotel-1bib23427.p12
    key-store-type: PKCS12
    key-store-password: ${TLS_KEYSTORE_PASSWORD}
    key-alias: hotel-1bib23427
